.card{ 
    width:500px;
    height: 700px;
    margin:auto;
    display: block;

    
}
.image{
    width:500px;
    height: 500px;
    display: flex;
    margin: auto;
    border: 5px solid;
    border-color: rgb(210, 239, 179) ;
    border-radius: 20px
  ;
    
}
.dots{
       float: left;
    
}
.name{
   float: left;
}
.location{
    float:right;
}
.heart ,.plane{
    margin: 5px;
    float: left;
}
.likes{
    display: block;
    
}
.date{
    float: right;
}
.descriptions{
    width:100%;
    margin:20px;
}
