.header{
    display: inline-flex;
    background-color: rgb(245, 206, 188);
 
}
h1{
    margin-right:250px;
}
.topleft{
    margin-left:25px;
}
.topright{
    margin-right:25px;
}
.color{
    color: rgb(37, 4, 79);
}
